root = true

# All files
[*]
indent_style = space

[*.{yml,yaml,json,xml}]
indent_size = 2
tab_width = 2
#end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
quote_type = double
